/* custom fonts */
@font-face {
  font-family: 'Forum';
  src: url('../Fonts/Forum/Forum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../Fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Forum', serif;
  background-color: #4c1c24;
  color: #f4e9e1;
  font-size: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 2rem;
}

p {
  margin: 10px auto;
}

figcaption {
  font-style: italic;
  font-size: 18px;
}

legend {
  color: #1a1a1a;
  margin: 0 auto;
}
